.ignore
tactics.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

build/

tactics.p64/build/
tactics.p64/src/
tactics.p64/lib/
tactics.p64/mods/

**/.info.pod
!tactics.p64/.info.pod

.claude

docs/todos/
/luacov.report.html
/luacov.report.out
/luacov.stats.out

tactics.p64/gfx/1[6-9]_*.gfx
tactics.p64/gfx/2[0-9]_*.gfx
tactics.p64/gfx/3[01]_*.gfx
